@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	padding-left: 35px;
	padding-right: 35px;
	background: url(../img/leaf-bg.jpg);
	background-repeat: repeat;
	font-family: 'Tiro Devanagari Sanskrit', serif;
}

.App {
	display: grid;
	grid-template-columns: 1fr 3fr;
	min-height: 100vh;
	color: white;
}
main {
	display: flex;
	flex-direction: column;
}
p {
	margin-top: 1em;
	margin-bottom: 1em;
}
hr {
	margin-top: 1em;
	margin-bottom: 1em;
}
.btn {
	background-color: #2ea44f;
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
	padding: 4px 16px;
	position: absolute;
	right: 10px;
	display: none;
	cursor: pointer;
	color: white;
	text-align: center;
	text-decoration: none;
}
input {
	padding: 15 15px;
	line-height: 20px;
	width: 180px;
}

.add.btn {
	display: block;
	bottom: 30px;
	left: 35px;
	right: auto;
}
.delete.btn {
	display: block;
	right: 10px;
}
