/* EDUCATION COMPONENT */
.education {
	background-color: rgba(0, 0, 0, 0.3);
	padding-left: 30px;
	padding-right: 30px;
	flex-grow: 2;
}
.education-item{
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: 1fr 1fr;
	margin-top: 30px;
	margin-bottom: 60px;
	gap: 10px;
	border-left: solid 1px green;
	padding: 10px;
}