@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	padding-left: 35px;
	padding-right: 35px;
	background: url(../img/leaf-bg.jpg);
	background-repeat: repeat;
	font-family: 'Tiro Devanagari Sanskrit', serif;
}

.App {
	display: grid;
	grid-template-columns: 1fr 3fr;
	min-height: 100vh;
	color: white;
}
main {
	display: flex;
	flex-direction: column;
}
p {
	margin-top: 1em;
	margin-bottom: 1em;
}
hr {
	margin-top: 1em;
	margin-bottom: 1em;
}
